<div class="conatiner px-4">
  <div class="px-4 py-5 text-center text-white">
    <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">IPTV List Handler</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Handle your IPTV List on few seconds</p>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" accept="audio/x-mpegurl"
          (change)="readFile($event.target)">
      </div>
    </div>
  </div>



  <div class="container px-4 py-5">
    <div class="d-flex justify-content-center text-white" *ngIf="uploaded && loading == 0">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="alert alert-warning text-center" *ngIf="!uploaded">
      <i class="bi bi-exclamation-triangle-fill"></i>
      Upload your M3U file above!
      <i class="bi bi-exclamation-triangle-fill"></i>
    </div>
    <div class="text-center p-2" *ngIf="uploaded">
      <a [href]="fileUrl" download="nomefile.m3u" class="btn btn-success" (click)="export()">Download</a>
    </div>
    <div class="accordion" *ngIf="uploaded" id="accordionExample">
      <div class="accordion-item" *ngFor="let group of this.groups; let i = index;">
        <h2 class="accordion-header d-flex" id="headingTwo">
          <button type="button" class="btn text-danger" (click)="delete(group, group)">
            <i class="bi bi-trash"></i>
          </button>
          <button type="button" class="btn text-warning" (click)="edit(group)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#accordion' + i" aria-expanded="false" [attr.aria-controls]="'accordion' + i">
            {{group}} &nbsp; <span class="badge rounded-pill text-bg-primary">{{countLength(group)}}</span>
          </button>
        </h2>
        <div id="{{'accordion' + i}}" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-sm table-secondary table-striped" *ngIf="uploaded">
              <thead>
                <tr>
                  <th scope="col">Group name</th>
                  <th scope="col">Channel</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let channel of getChannelsByGroup(group)">
                  <td>

                    {{channel.header.group_title}}
                  </td>
                  <td>
                    {{channel.header.name}}
                  </td>
                  <td>
                    <!-- <button type="button" class="btn btn-warning btn-sm" title="Edit"><i class="bi bi-pencil-square"></i></button> -->
                    <button type="button" class="btn btn-danger btn-sm" title="Delete"
                      (click)="delete(channel.index, channel.header.name!)"><i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr *ngIf="this.channels.length == 0">
                  <td colspan="100%" class="text-center">
                    No content found
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>